.main {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
}

.box {
  border-radius: 8px;
  border: 5px solid black;
  width: 500px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box.Win {
  border-color: forestgreen;
  color: forestgreen;
}

.box.Lose {
  border-color: firebrick;
  color: firebrick;
}

.item-img {
  width: 400px;
}

.flip {
  animation: cardFlip 450ms ease;
  transform-style: preserve-3d;
}

@keyframes cardFlip {
  0% {
    transform: rotateY(0deg) scale(0);
    opacity: 0.6;
  }
  50% {
    transform: rotateY(90deg) scale(1.02);
    opacity: 0.9;
  }
  100% {
    transform: rotateY(0deg) scale(1);
    opacity: 1;
  }
}

.selectButton {
  border: 0px;
  border-radius: 8px;
  width: 80px;
  height: 40px;
  background-color: firebrick;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
